@model ShoppingCart

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/Details.css"/>

  <form method="post">
<div class="container">
    <div class="row">
        <div class="col-md-5 mt-4">
            <div class="project-info-box mt-0">
                <h4>Book Description</h4>
                @Html.Raw(Model.Product.Description)
               
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Name:</b> @Model.Product.Name</p>
                <p><b>Author:</b> @Model.Product.Author</p>
                <p><b>ISBN:</b> @Model.Product.ISBN</p>
                <p><b>Price:</b> @Model.Product.Price</p>
                <p><b>List Price:</b> @Model.Product.ListPrice</p>
                <p><b>Price 50 Books:</b> @Model.Product.Price50</p>             
                <p><b>Price 100 Books:</b> @Model.Product.Price100</p>
      
            </div>
            <div class="project-info-box">
                <p><b>Categories:</b>@Model.Product.Category.Name</p>
                <p><b>Cover Type</b> @Model.Product.CoverType.Name</p>
            </div>
            <div class="Count">
                <label asp-for="Count"></label>
                <input asp-for="Count"/>
            </div>
            <div>
                <button asp-action="Index" asp-controller="Home" class=" btn btn-primary mt-4">Back to list</button>
                <button asp-action="Index" type="submit" class=" btn btn-primary mt-4">Add To Cart</button>
            </div>
        </div>
        <div class="col-md-7 mt-4">
            <img src="@Model.Product.ImageUrl" alt="project-image" class="rounded">
            <!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>
</form>

